---
import { Picture } from "astro:assets";
import img from "~/assets/Untitled.svg";
import { SiteDescription, SiteTitle } from "~/config";
import MarkdownLayout from "~/layouts/MarkdownLayout.astro";
import Footer from "~/components/Footer.astro";
import ButtomModal from "~/components/ButtomModalLogin.astro";
import Dialogflow from "~/components/Dialogflow.astro";
---

<MarkdownLayout
    title={SiteTitle}
    description={SiteDescription}
    hide={["title"]}
    currentNav="Home"
>
    <div class="flex flex-col items-center gap-4 xl:flex-row">
        <Picture
            class="lg:max-w-md"
            src={img}
            formats={["avif", "webp"]}
            alt="a dog"
            loading="eager"
        />
        <div>
            <h1>Bienvenidos! Somos yipao👋</h1>
            <p>
                Yipao es una herramienta desarrollada por el equipo de <a
                    href="https://astro.build">facilpos</a
                > Con el objetivo de potenciar nuestro sistema pos integrando un
                agente para business intelligence (BI), de forma sencilla y poderosa
                características:
            </p>
            <ul class="list-disc">
                <li>Entendimiento de la base de datos sql.</li>
                <li>Ejecucion de consultas sql.</li>
                <li>Analisis del negocio.</li>
                <li>Low code y facil uso.</li>
                <li>
                    Sugerencias y consejos en base a las consultas realizadas
                </li>
            </ul>
        </div>
    </div>
    <ButtomModal title="Try now" />
    <div class="footer">
        <Footer />
    </div>
    <div>
        <Dialogflow />
    </div>
    <style>
        .footer {
            margin: 0px;
            padding: 0px;
            width: 100%;
            display: flex;
            justify-content: center;
        }
    </style>
</MarkdownLayout>
