---
import { Picture } from "astro:assets";
import img from "~/assets/banner.png";
import { SiteDescription, SiteTitle } from "~/config";
import MarkdownLayout from "~/layouts/MarkdownLayout.astro";
import Footer from "~/components/Footer.astro";
import ButtomModal from "~/components/ButtomModalLogin.astro";
import Dialogflow from "~/components/Dialogflow.astro";
---

<MarkdownLayout
    title={SiteTitle}
    description={SiteDescription}
    hide={["title"]}
    currentNav="Home"
>
    <div class="flex flex-col items-center gap-8 xl:flex-row">
        <div class="banner">
            <Picture
                class="lg:max-w-md"
                src={img}
                formats={["avif", "webp"]}
                alt="a dog"
                loading="eager"
            />
            <ButtomModal title="Try now" />
        </div>
        <div class="banner">
            <div>
                <h1>Welcome to yipao! We are yipao👋</h1>
                <p>
                    Yipao is a tool developed by the facilpos team <a
                        href="https://astro.build">facilpos</a
                    > with the aim of create an
                    agent for business intelligence (BI) with simple and powerful
                    features:
                </p>
                <ul class="list-square">
                    <li>Understanding of the SQL database.</li>
                    <li>Execution of SQL queries.</li>
                    <li>Business analysis.</li>
                    <li>Low code and easy to use.</li>
                    <li>Suggestions and advice based on performed queries.</li>
                </ul>
            </div>
            <div class="footer">
                <Footer />
            </div>
        </div>
    </div>
    <div>
        <Dialogflow />
    </div>
    <style>
        .footer {
            margin: 0px;
            padding: 0px;
            width: 100%;
            display: flex;
            justify-content: flex-end;
        }
        .banner {
            display: flex;
            flex-direction: column;
            align-items: flex-end;
        }
        .list-square {
            list-style-type: square;
            padding-left: 20px; /* Ajuste del espacio entre el borde izquierdo y los elementos de la lista */
        }

        .list-square li {
            position: relative; /* Necesario para posicionar los pseudoelementos */
            padding: 5px 0;
        }

        li::before {
            content: ""; /* Crea un pseudoelemento vacío */
            position: absolute; /* Posiciona el pseudoelemento de forma absoluta */
            left: -20px; /* Ajusta la posición del cuadrado */
            top: 50%; /* Centra el cuadrado verticalmente */
            transform: translateY(-50%); /* Centra el cuadrado verticalmente */
            width: 10px; /* Ancho del cuadrado */
            height: 10px; /* Altura del cuadrado */
            background-color: #000000; /* Color del cuadrado (tomato) */
        }
    </style>
</MarkdownLayout>
