---
import { FooterDescription, Hide } from "~/config";
---

<footer style="margin:0px; padding:0px" transition:persist>
    {
        !Hide.includes("footerDescription") && (
            <p style="margin:0px; padding:0px">{FooterDescription}</p>
        )
    }
    <p
        class="text-neutral-700 opacity-75 dark:text-neutral-300"
        style="margin:0px; padding:0px"
    >
        &copy; {new Date().getFullYear()} Yipao. Powered by <a
            style="margin:0px; padding:0px"
            class="underline"
            href="https://astro.build"
            target="_blank"
            rel="noopener"
            aria-label="Read more about Astro">Astro</a
        >.
    </p>
</footer>
